.rodapie__titulo{
    display: flex;
    color: #8C8888;
    align-items: center;
}

@media screen and (min-width: 0){
    .rodapie__titulo{
        padding: 0;
        font-weight: 200;
        font-size: 1rem;
    }
  }
  
  @media screen and (min-width: 768px){
    .rodapie__titulo{
        padding: 1.5625rem;
        font-weight: 400;
        font-size: 1.25rem;
      }
}